.container {
    float: left;
    width: 70%;
    background-color: yellow;
    height: 150px;
    margin-top: 20px;
    border: 1px solid lightblue;
}

.seller-container {
    border: 1px solid #000;
    margin-bottom: 20px;
}

a {
    margin-right: 8px;
}